VITE_ARB_RPC_URL=
VITE_ARB_CHAIN_ID=
VITE_ARB_EXPLORER_URL=
VITE_ENGINE_ADDRESS=
VITE_NNGN_ADDRESS=
VITE_ETH_USD_FEED=
VITE_USD_NGN_FEED=
VITE_WALLETCONNECT_PROJECT_ID=
VITE_GROQ_API_KEY=
VITE_NAIRA_DATA_URL=
